[submodule "themes/hugo-agency-theme"]
	path = themes/hugo-agency-theme
	url = https://github.com/timbotim11/hugo-agency-theme
[submodule "public"]
	path = public
	url = https://github.com/timbotim11/timbotim11.github.io.git
	branch = master
